body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .login-span
  {
    font-size: 10px;
  }
  
  .header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
    cursor: pointer;
  }
  
  .header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
  }
  
  .header__searchInput {
    height: 21px;
    padding: 10px;
    border: none;
    width: 100%;
  }
  
  .header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
  }
  
  .header__optionLineOne {
    font-size: 10px;
  }
  
  .header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
  }
  
  .header__optionBasket {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .header__nav {
    display: flex;
    justify-content: space-evenly;
  }
  
  .header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    cursor: pointer;
  
  }



  .login {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__logo {
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
  }

.login__container {
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
    margin: auto;
}

.login__container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
  }

.login__container > form > h5 {
    margin-bottom: 5px;
}

.login__container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
  }

.login__container > p {
    margin-top: 15px;
    font-size: 12px;
}

.login__signInButton {
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
  }

  .login__registerButton {
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgray;
  }
  
  .modal-title.h4 {
  
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;

}


.alert-danger {

  text-align: center;
}


#alert
{
  display: none;
}